{% extends 'base.html' %}
{% load static %}
{% block sidebar_title %} Home {% endblock sidebar_title %}



{% block content %}
<div class="container">
    <div>
        <div class="jumbotron text-center mt-4">
            <h1 class="display-4">Welcome to AI & ML Learning Hub</h1>
            <p class="lead">Your gateway to mastering Artificial Intelligence and Machine Learning.</p>
            <p>Explore our courses, tutorials, and resources to enhance your skills.</p>
            <a class="btn btn-primary " href="#" role="button">Get Started</a>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Explore a variety of AI and ML courses designed for all skill levels.</p>
                    <a href="#" class="btn btn-primary">Browse Courses</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Explore a variety of AI and ML courses designed for all skill levels.</p>
                    <a href="#" class="btn btn-primary">Browse Courses</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Explore a variety of AI and ML courses designed for all skill levels.</p>
                    <a href="#" class="btn btn-primary">Browse Courses</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Explore a variety of AI and ML courses designed for all skill levels.</p>
                    <a href="#" class="btn btn-primary">Browse Courses</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Explore a variety of AI and ML courses designed for all skill levels.</p>
                    <a href="#" class="btn btn-primary">Browse Courses</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Courses</h5>
                    <p class="card-text">Explore a variety of AI and ML courses designed for all skill levels.</p>
                    <a href="#" class="btn btn-primary">Browse Courses</a>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}